body {
  margin: 0 0;
  font-family: "Arial", sans-serif;
}

#header {
  background-color: #30414e;
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
}

#header header p {
  margin: 0 0;
  font-size: 6vh;
}

#header article a,
#header p {
  color: white;
  font-weight: 600;
}

#header article {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#header article a {
  font-size: 3.3vh;
  text-decoration: none;
  margin-top: 0.5vh;
}

#conteudo {
  background-color: #1bbc9b;
  color: white;
  padding: 10% 2%;
}

#conteudo article,
#conteudo h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#conteudo h1 {
  font-size: 15vh;
  text-align: center;
}

#conteudo article p {
  font-size: 6vh;
  text-align: center;
}

#formulario h2 {
  font-size: 8.6vh;
  color: #30414e;
  display: flex;
  align-items: center;
  justify-content: center;
}

#formulario form {
  width: 50%;
  padding: 0 25%;
  text-align: start;
  justify-content: start;
  color: #ababab;
  display: block;
  margin: 60px 0 30px;
}

#formulario form label {
  display: block;
  margin-top: 20px;
}

#formulario form input {
  display: block;
  border: none;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ababab;
  outline-color: #1abb9a;
}

#formulario form button {
  color: #fff;
  background-color: #1abb9a;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}
